.checker__background {
  background-image: url("./assets/images/pattern-bg-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom {
  width: 100%;
  height: 100vh;
}
